header h1{
    text-align: center;
    color: gray;
    background-color: black;
}
 header nav ul li {
    display: inline-block;
    padding:20px;
}
nav ul li a{
    color:rgb(226, 28, 28);
    text-decoration: none;
    font-weight: bold;
}
header p{
    background-color: cornflowerblue;
}
main h1 {
    text-align: center;
    color: brown;
    background-color: orange;
}
table{
    border-collapse: separate;
    background-color: firebrick;
    border: 10px solid blue
    text-indent: initial;
    
}
td, th{
    border: solid black;
    text-align: center;
}
legend{
    font-size: x-large;
    padding: 3em;
    text-align: center;
    color: rgb(0, 0, 0);
}
fieldset{
    text-align: center;
    border: 10px solid rgb(0, 238, 255);
    display: block;
    background-color: #E2D37E;
}
button{
    border: none;
    float: right;
    background-color: transparent;
    font-size: 15px;
}